body {
  background-color: #dcc; }

#container {
  width: 840px;
  margin: 60px auto; }

article {
  background-color: #007439;
  width: 300px;
  height: 380px;
  margin: 0 30px;
  padding: 20px;
  float: left; }

.alice_blue {
  color: #F0F8FF; }

.azure {
  color: #007fff; }

.baby_blue {
  color: #89cff0; }

.bondi_blue {
  color: teal; }

.maya_blue {
  color: #73c2fb; }

.non-photo_blue {
  color: #a4dded; }

.steel_blue {
  color: steelblue; }

article#colors {
  font-family: 'Stoke', serif;
  background-color: #7CE2FF; }
  article#colors h1 {
    margin: 0;
    font-size: 3em; }
  article#colors h2 {
    font-size: 1em; }
  article#colors ul {
    list-style: none;
    text-align: center;
    background-color: #004;
    padding: 20px 30px; }

article#kit-kats {
  font-size: 0.9em;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #99893D;
  border: 10px solid #CCAB14; }
  article#kit-kats h1 {
    font-size: 2em;
    margin: auto auto 10px auto; }
  article#kit-kats h2 {
    margin: 10px auto 20px auto; }
  article#kit-kats ul {
    margin: 30px 0; }
